<div class="banner">
    <div class="container">
        <div class="banner-text">
            <div class="h1">
               Career
            </div>
        </div>
    </div>
</div>
<div class="ex-basic-1">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <ul class="breadcrumbs list-unstyled list-inline">
                    <li class="list-inline-item"><a class="underline" href="index.html">Home</a></li>
                    <li class="list-inline-item"><i class="fa fa-angle-double-right"></i></li>
                    <li class="list-inline-item">Career</li>
                </ul>
            </div> <!-- end of col -->
        </div> <!-- end of row -->
    </div> <!-- end of container -->
</div>

<!-- section 3 -->
<section class="top-bottom ">
    <div class="container">
        <div class="row1">
        <div class="col-lg-12 text-center">
            <h2 class="gallery-title"><span class="dif-color"> </span>CAREER </h2>
        </div>

        <div class="col-lg-12 text-center d-none">
            <div class="panel-btn">
                <button class="btn btn-default filter-button" data-filter="all">All</button>
                <button class="btn btn-default filter-button" data-filter="panel1">HDPE Pipes</button>
                <button class="btn btn-default filter-button" data-filter="panel2">Sprinkle Pipes</button>
                <button class="btn btn-default filter-button" data-filter="panel3">Spray Nozzle</button>
                <button class="btn btn-default filter-button" data-filter="panel4">Irrigation Pipes</button>
            </div>
        </div>
       

        <div class="row">
            <div class="col-lg-3 filter panel1 panel4" >
                <div class="element-item design">
                    <a href="#">
                        <h6>It service space</h6>
                        <p>Participate in requirements analysis design applications...</p>
                        <p class="p-small"><i class="fas fa-calendar-alt"></i>UNDETERMINED CONTRACT</p>
                    </a>
                </div>
            </div>
           
            <div class="col-lg-3 filter panel3" >
                <div class="element-item design">
                    <a href="#">
                        <h6>Sr developer </h6>
                        <p>Participate in requirements analysis design applications...</p>
                        <p class="p-small"><i class="fas fa-calendar-alt"></i>UNDETERMINED CONTRACT</p>
                    </a>
                </div>
            </div>
            <div class="col-lg-3 filter panel4 panel1" >
                <div class="element-item design">
                    <a href="#">
                        <h6>profit/ loss</h6>
                        <p>Participate in requirements analysis design applications...</p>
                        <p class="p-small"><i class="fas fa-calendar-alt"></i>UNDETERMINED CONTRACT</p>
                    </a>
                </div>
            </div>
            <div class="col-lg-3 filter panel1" >
                <div class="element-item design">
                    <a href="#">
                        <h6>Set up process</h6>
                        <p>Participate in requirements analysis design applications...</p>
                        <p class="p-small"><i class="fas fa-calendar-alt"></i>UNDETERMINED CONTRACT</p>
                    </a>
                </div>
            </div>
            <div class="col-lg-3 filter panel2 panel3 panel1" >
                <div class="element-item design">
                    <a href="#">
                        <h6>No infrastructure side </h6>
                        <p>Participate in requirements analysis design applications...</p>
                        <p class="p-small"><i class="fas fa-calendar-alt"></i>UNDETERMINED CONTRACT</p>
                    </a>
                </div>
            </div>
            <div class="col-lg-3 filter panel4 panel3" >
                <div class="element-item design">
                    <a href="#">
                        <h6>General Manager</h6>
                        <p>Participate in requirements analysis design applications...</p>
                        <p class="p-small"><i class="fas fa-calendar-alt"></i>UNDETERMINED CONTRACT</p>
                    </a>
                </div>
            </div>
            <div class="col-lg-3 filter panel1 panel3" >
                <div class="element-item design">
                    <a href="#">
                        <h6>Client p</h6>
                        <p>Participate in requirements analysis design applications...</p>
                        <p class="p-small"><i class="fas fa-calendar-alt"></i>UNDETERMINED CONTRACT</p>
                    </a>
                </div>
            </div>
            <div class="col-lg-3 filter panel2 panel1" >
                <div class="element-item design">
                    <a href="#">
                        <h6>Development  </h6>
                        <p>Participate in requirements analysis design applications...</p>
                        <p class="p-small"><i class="fas fa-calendar-alt"></i>UNDETERMINED CONTRACT</p>
                    </a>
                </div>
            </div>
            <div class="col-lg-3 filter panel3 panel4" >
                <div class="element-item design">
                    <a href="#">
                        <h6>account management </h6>
                        <p>Participate in requirements analysis design applications...</p>
                        <p class="p-small"><i class="fas fa-calendar-alt"></i>UNDETERMINED CONTRACT</p>
                    </a>
                </div>
            </div>
            <div class="col-lg-3 filter panel2 panel3" >
                <div class="element-item design">
                    <a href="#">
                        <h6>it services saling</h6>
                        <p>Participate in requirements analysis design applications...</p>
                        <p class="p-small"><i class="fas fa-calendar-alt"></i>UNDETERMINED CONTRACT</p>
                    </a>
                </div>
            </div>
            <div class="col-lg-3 filter panel1" >
                <div class="element-item design">
                    <a href="#">
                        <h6> application developer</h6>
                        <p>Participate in requirements analysis design applications...</p>
                        <p class="p-small"><i class="fas fa-calendar-alt"></i>UNDETERMINED CONTRACT</p>
                    </a>
                </div>
            </div>
        </div>
            <!-- <div class="gallery_product col-lg-4 col-md-4 col-sm-4 col-xs-6 filter hdpe">
                <img src="http://fakeimg.pl/365x365/" class="img-responsive">
            </div> -->

          
        </div>
        <a class="btn-solid-lg wide" routerLink="/home" (click)="application()">APPLY FOR JOB</a>
    </div>
</section>
<!-- section 3 -->
<div class="ex-basic-2 d-none">
    <div class="container">
        <div class="row ">
            <div class="col-lg-12">
                <div class="text-container dark">
                    <h3>Job Description</h3>
                    <p>The Systems Analyst is expected to configure and provide <strong>intermediate functional</strong> and <strong>technical support</strong> for the specified set of applications to a variety of business and clinical users. This position collaborates with the user community to resolve technical problems, application performance issues as well as lead optimization and enhancement efforts. This entails customer-centric workflow and technical knowledge as well as contribution to the <a class="underline" href="#your-link">analysis</a>, <a class="underline" href="#your-link">design</a>, <a class="underline" href="#your-link">development</a>, <a class="underline" href="#your-link">testing</a>, and <a class="underline" href="#your-link">documentation</a>, and <a class="underline" href="#your-link">implementation</a> activities of assigned applications.</p>
                </div> <!-- end of text-container -->
            </div> <!-- end of col -->
        </div> <!-- end of row -->

        <div class="row">
            <div class="col-lg-6">
                <div class="text-container column">
                    <h3>Responsibilities</h3>
                    <p>The position will lead analysis and timely resolution of problems within the <a class="underline" href="#your-link">software applications</a>, and <a class="underline" href="#your-link">provide support</a> for maintenance and upgrades also resolve any technical issues.</p>
                    <ul class="list-unstyled v-space-lg indent">
                        <li class="media">
                            <i class="fas fa-chevron-right"></i>
                            <div class="media-body">Work situations are a combination of intermediate to complex analytical, clinical, financial and administrative responsibilities</div>
                        </li>
                        <li class="media">
                            <i class="fas fa-chevron-right"></i>
                            <div class="media-body">Require independent decision-making, problem solving, leadership, and customer skills, small to medium project leadership</div>
                        </li>
                        <li class="media">
                            <i class="fas fa-chevron-right"></i>
                            <div class="media-body">This position must possess sufficient detailed healthcare knowledge and systems expertise</div>
                        </li>
                        <li class="media">
                            <i class="fas fa-chevron-right"></i>
                            <div class="media-body">Implement medium to high complexity assigned application with minimal guidance</div>
                        </li>
                        <li class="media">
                            <i class="fas fa-chevron-right"></i>
                            <div class="media-body">An advanced Information Systems or Business degree will be considered an asset. Information system training preferred</div>
                        </li>
                        <li class="media">
                            <i class="fas fa-chevron-right"></i>
                            <div class="media-body">If supporting Epic, Proficient or Certified status in one supported module required within 6 months of start date</div>
                        </li>
                        <li class="media">
                            <i class="fas fa-chevron-right"></i>
                            <div class="media-body">Six years of experience in an information technology discipline, or healthcare operations including any clinical department, medical records, patient access, or revenue cycle</div>
                        </li>
                        <li class="media">
                            <i class="fas fa-chevron-right"></i>
                            <div class="media-body">The position provides support in a 24/7 environment which will include rotating on-call support duties during off hours, weekends and holidays</div>
                        </li>
                        <li class="media">
                            <i class="fas fa-chevron-right"></i>
                            <div class="media-body">May be required to travel to perform duties. May be required to work outside of normal working hours during on-call rotation or during significant outages or due to project demands.</div>
                        </li>
                    </ul>
                </div> <!-- end of text-container -->
            </div> <!-- end of col -->

            <div class="col-lg-6">
                <div class="text-container column">
                    <h3>Requirements</h3>
                    <p>One of six years working in an information technology capacity, informatics may be considered depending on scope of responsibility.</p>
                    <ul class="list-unstyled v-space-lg indent">
                        <li class="media">
                            <i class="fas fa-chevron-right"></i>
                            <div class="media-body">One year of successful experience as Systems Analyst I</div>
                        </li>
                        <li class="media">
                            <i class="fas fa-chevron-right"></i>
                            <div class="media-body">Relevant bachelor degree may substitute for (4) years of relevant experience</div>
                        </li>
                        <li class="media">
                            <i class="fas fa-chevron-right"></i>
                            <div class="media-body">Ability to work independently with limited/minimal supervision</div>
                        </li>
                        <li class="media">
                            <i class="fas fa-chevron-right"></i>
                            <div class="media-body">Excellent conceptual, analytical, and problem-solving skills</div>
                        </li>
                        <li class="media">
                            <i class="fas fa-chevron-right"></i>
                            <div class="media-body">Strong ability to prioritize and work through conflicting demands leveraging critical thinking and decision-making skills</div>
                        </li>
                        <li class="media">
                            <i class="fas fa-chevron-right"></i>
                            <div class="media-body">Excellent communication skills, both oral and written</div>
                        </li>
                        <li class="media">
                            <i class="fas fa-chevron-right"></i>
                            <div class="media-body">Strong organizational and time management skills; ability to adapt quickly to changing priorities; ability to successfully manage multiple tasks simultaneously</div>
                        </li>
                        <li class="media">
                            <i class="fas fa-chevron-right"></i>
                            <div class="media-body">Excellent customer service skills</div>
                        </li>
                    </ul>
                    <a class="btn-solid-lg wide" routerLink="/home" (click)="application()">APPLY FOR JOB</a>
                </div> <!-- end of text-container -->
            </div> <!-- end of col -->
        </div> <!-- end of row -->
    </div> <!-- end of container -->
</div>