.banner{
    background: #b15bfd;
    text-align: center;
    color: #fff;
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 60vh;
    padding-top: 0;
}
.element-item {
    left: 0; 
    margin-bottom: 1.25rem;
    padding: 1.25rem 1rem 1.25rem 1.125rem;
    border-radius: 0.25rem;
    background-color: #f3f3f3;
    transition: all 0.2s;
}
.element-item h6 {
    color: #3b485a;
    font: 700 1rem/1.5rem "Montserrat", sans-serif;
    text-transform: capitalize;
}
.element-item .p-small {
    margin-bottom: 0;
    color: #bbbbbd;
}
.element-item .fa-calendar-alt {
    margin-right: 0.375rem;
    color: #c788ff;
    vertical-align: 7%;
}
.element-item:hover {
    box-shadow: 0px 3px 4px #ddd;
}
