<div id="home"class="banner">
	<div class="container">
	<div class="banner-text">
	<div class="banner-heading">
	<span>Certick</span> 
    </div>
    <div class="banner-title">
        The 360 Degree Staffing Solution
    </div>
	<div class="banner-sub-heading">
        Certick is your one stop solution for all employment and organizational development needs whether you are a large company or an individual seeking employment, We are here to help you!
	</div>
	<a class="btn-solid-lg page-scroll" href="#application">GET HIRED</a>
	</div>
	</div>
</div>
<!-- section 2 -->
<section>
    <div id="approval" class="basic-1">
        <div class="row no-gutters">
            <div class="col-lg-6">

                <!-- Text Container -->
                <div class="area-1">
                    <div class="text-container">
                        <span class="fa-stack fa-lg">
                            <i class="fas fa-circle fa-stack-2x"></i>
                            <i class="fas fa-user-tie fa-stack-1x fa-inverse"></i>
                        </span>
                        <h3>For Job Seekers</h3>
                        <p>At Certick we would love helping people to find the right opportunity  to work. Our expertise is always available to assist you and find stable job opportunities  from various industries.</p>
                    </div> <!-- end of text-container -->
                </div> <!-- end of area-1 -->
                <!-- end of text container -->

            </div> <!-- end of col -->
            <div class="col-lg-6">
                
                <!-- Text Container -->
                <div class="area-2">
                    <div class="text-container">
                        <span class="fa-stack fa-lg">
                            <i class="fas fa-circle fa-stack-2x"></i>
                            <i class="fas fa-building fa-stack-1x fa-inverse"></i>
                        </span>
                        <h3>For Employers</h3>
                        <p>Certick is specialized in offering the entire range of HR services from candidate selection, interviews, hiring to complete human resources management as an outsourced HR department. </p>
                        <p>We are a full-service employment agency specialized in meeting the staffing needs of companies of any size, and individuals. We diligently recruit screen and process employees for several companies and provide both consulting service and permanent employees based on a company’s requirements.</p>

                    </div> <!-- end of text-container -->
                </div> <!-- end of area-2 -->
                <!-- end of text container -->

            </div> <!-- end of col -->
        </div> <!-- end of row -->
</div>
</section>
<!-- section 2 end -->


<!-- section 7 -->
<div id="services" class="cards-1">
    <div class="container">
        <div class="row text-center">
            <div class="col-lg-12">
                <h2><span class="purple"></span> SERVICES</h2>
                <p class="p-heading p-large">
                    Our employees are exceptionally skilled in identifying top talent around the globe and matching them with the client's needs to provide them quality resources so that they can concentrate on their objectives.  Our Strength and Specialization are
                </p>
            </div> <!-- end of col -->
        </div> <!-- end of row -->
        
        <div class="row">
            <div class="col-xs-12 col-lg-4">
                
                <!-- Card -->
                <div class="card text-center">
                    <img class="card-image" src="assets/images/services-icon-1.svg" alt="alternative">
                    <div class="card-body">
                        <h4 class="card-title">Permanent Staffing</h4>
                        <!-- <p>
                            Use our skills to find the best candidates for your open positions. 
                            We'll do our best to find the right people for your business. 
                            Our specialization is providing resource in short Notice period and 
                            complete the project in on-time.

                        </p> -->
                    </div>
                </div>
                <!-- end of card -->

            </div> <!-- end of col -->
            <div class="col-xs-12 col-lg-4">

                <!-- Card -->
                <div class="card text-center">
                    <img class="card-image" src="assets/images/services-icon-1.svg" alt="alternative">
                    <div class="card-body">
                        <h4 class="card-title">C2H Hiring</h4>
                    </div>
                </div>
                <!-- end of card -->

            </div> <!-- end of col -->
            <div class="col-xs-12 col-lg-4">

                <!-- Card -->
                <div class="card text-center">
                    <img class="card-image" src="assets/images/services-icon-1.svg" alt="alternative">
                    <div class="card-body">
                        <h4 class="card-title">Managed Services</h4>
                    </div>
                </div>
                <!-- end of card -->

            </div> <!-- end of col -->
           
        </div> <!-- end of row -->
    </div> <!-- end of container -->
</div>


<!-- section 4 -->
<div class="basic-2 d-none">
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <h2><span class="purple-light">JOBS</span> LIST</h2>
                <p class="p-heading p-large">Find the right job for you in our job listing below. Don't hesitate to apply for it if you like it and you meet the requirements</p>
            </div> <!-- end of col -->
        </div> <!-- end of row -->
        
        <!-- List -->
        <div class="row">
            <div class="col-md-6">
                <div class="text-container">
                    <h5 class="purple-light">Web Designer With Photoshop And Illustrator</h5>
                    <p>Participate in requirements analysis design applications looking for a creative and passionate designer who's sick and tired of... <a class="btn-read-more" routerLink="/JobDetails">Details &gt;&gt;</a></p>
                    <p class="p-small"><i class="fas fa-calendar-alt"></i>12 MONTHS CONTRACT</p>
                </div> <!-- end of text-container -->
            </div> <!-- end of col -->
            <div class="col-md-6">
                <div class="text-container">
                    <h5 class="purple-light">Frontend Software Designer - JS, HTML, CSS</h5>
                    <p>Initially, the individual will be working on a project to looking for a creative and passionate designer wanting to work in a... <a class="btn-read-more" routerLink="/JobDetails">Details &gt;&gt;</a></p>
                    <p class="p-small"><i class="fas fa-calendar-alt"></i>24 MONTHS CONTRACT</p>
                </div> <!-- end of text-container -->
            </div> <!-- end of col -->
        </div> <!-- end of row -->
        <div class="row">
            <div class="col-md-6">
                <div class="text-container">
                    <h5 class="purple-light">UI Developer For Great Ecommerce Sites</h5>
                    <p>Analyze, design, and develop apps and security features for looking for a creative and passionate developer wanting to get out... <a class="btn-read-more" routerLink="/JobDetails">Details &gt;&gt;</a></p>
                    <p class="p-small"><i class="fas fa-calendar-alt"></i>UNLIMITED CONTRACT</p>
                </div> <!-- end of text-container -->
            </div> <!-- end of col -->
            <div class="col-md-6">
                <div class="text-container">
                    <h5 class="purple-light">.NET And Java Lead Engineer For Automotive</h5>
                    <p>Help lead onshore and offshore development teams coordinate looking for a creative and passionate engineer to help us with all... <a class="btn-read-more" routerLink="/JobDetails">Details &gt;&gt;</a></p>
                    <p class="p-small"><i class="fas fa-calendar-alt"></i>6 MONTHS CONTRACT</p>
                </div> <!-- end of text-container -->
            </div> <!-- end of col -->
        </div> <!-- end of row -->
        <div class="row">
            <div class="col-md-6">
                <div class="text-container">
                    <h5 class="purple-light">DevOps Software Engineer And Team Lead</h5>
                    <p>Evaluate detailed business, functional, and high-leve looking for a creative and passionate team leader who can manage our... <a class="btn-read-more" routerLink="/JobDetails">Details &gt;&gt;</a></p>
                    <p class="p-small"><i class="fas fa-calendar-alt"></i>UNLIMITED CONTRACT</p>
                </div> <!-- end of text-container -->
            </div> <!-- end of col -->
            <div class="col-md-6">
                <div class="text-container">
                    <h5 class="purple-light">Salesforce Senior Dev For Mobile Applications</h5>
                    <p>Acquires and interprets business requirements, functional looking for a creative and passionate senior developer that's able... <a class="btn-read-more" routerLink="/JobDetails">Details &gt;&gt;</a></p>
                    <p class="p-small"><i class="fas fa-calendar-alt"></i>UNLIMITED CONTRACT</p>
                </div> <!-- end of text-container -->
            </div> <!-- end of col -->
        </div> <!-- end of row -->
        <div class="row">
            <div class="col-md-6">
                <div class="text-container">
                    <h5 class="purple-light">Lead Marketer With Email Marketing Skills</h5>
                    <p>Recognize and understand use of design patterns for intermediate looking for a creative and passionate marketer which can... <a class="btn-read-more" routerLink="/JobDetails">Details &gt;&gt;</a></p>
                    <p class="p-small"><i class="fas fa-calendar-alt"></i>24 MONTHS CONTRACT</p>
                </div> <!-- end of text-container -->
            </div> <!-- end of col -->
            <div class="col-md-6">
                <div class="text-container">
                    <h5 class="purple-light">Marketing Manager For Ecommerce Websites</h5>
                    <p>Develop the marketing strategy for intermediate to complex modules, following documentation and business guidelines at... <a class="btn-read-more" routerLink="/JobDetails">Details &gt;&gt;</a></p>
                    <p class="p-small"><i class="fas fa-calendar-alt"></i>12 MONTHS CONTRACT</p>
                </div> <!-- end of text-container -->
            </div> <!-- end of col -->
        </div> <!-- end of row -->
        <div class="row">
            <div class="col-md-6">
                <div class="text-container">
                    <h5 class="purple-light">ColdFusion Software Sales Consultant Leader</h5>
                    <p>Ensures quality and maintains performance of solutions looking for a creative and passionate sales person which should... <a class="btn-read-more" routerLink="/JobDetails">Details &gt;&gt;</a></p>
                    <p class="p-small"><i class="fas fa-calendar-alt"></i>12 MONTHS CONTRACT</p>
                </div> <!-- end of text-container -->
            </div> <!-- end of col -->
            <div class="col-md-6">
                <div class="text-container">
                    <h5 class="purple-light">Web Applications Account Manager In E-commerce</h5>
                    <p>Works with stakeholders following various methodologies looking for a creative and passionate account manage that holds... <a class="btn-read-more" routerLink="/JobDetails">Details &gt;&gt;</a></p>
                    <p class="p-small"><i class="fas fa-calendar-alt"></i>6 MONTHS CONTRACT</p>
                </div> <!-- end of text-container -->
            </div> <!-- end of col -->
        </div> <!-- end of row -->    
        <!-- end of list -->

    </div> <!-- end of container -->
</div>

<!-- section 5 -->
<div id="application" class="form-1">
    <div class="container">
        <div class="row">
            <div class="col-lg-6">

                <!-- Text Container -->
                <div class="text-container">
                    <h3>Get Hired In 3 Easy Steps</h3>
                    <p>Please Help us with your updated resume, we have an open job opportunity across all levels for all the skill sets like design, development, sales , QA, Data Analytics, Business Analysis, Business analytic, Data Engineer, Machine Learning , Data Science , Devops , Product Support or marketing ETC. </p>
                    <p>Our expertise will go through your profiles and see if you meet the hiring requirements and reach out to you for further process.</p>
                    <h4>We’ll Get You Hired In Simple Steps</h4>
                    <ul class="list-unstyled v-space-lg">
                        <li class="media">
                            <i class="fas fa-chevron-right"></i>
                            <div class="media-body">Fill out the following form with your correct information</div>
                        </li>
                        <li class="media">
                            <i class="fas fa-chevron-right"></i>
                            <div class="media-body">Upload your CV. Only <strong>pdf, doc</strong> and <strong>docx</strong> files!</div>
                        </li>
                        <li class="media">
                            <i class="fas fa-chevron-right"></i>
                            <div class="media-body">File should be not larger than <strong>6 MB</strong></div>
                        </li>
                    </ul>
                </div> <!-- end of text-container -->
                <!-- end of text container -->

            </div> <!-- end of col -->
            <div class="col-lg-6">
                
                <!-- Form Container -->
                <form id="ApplicationForm" method="post" enctype="multipart/form-data" data-toggle="validator" data-focus="false" novalidate="true">
                   
                    
                    <div class="form-group">
                        <input type="text" class="form-control-input" id="gname" name="gname" 
                        placeholder="Name"
                        required="">
                       
                    </div>
                    <div class="form-group">

                        <input type="email" class="form-control-input" id="gemail" name="gemail"
                        placeholder="Email"
                         required="">
                        
                    </div>
                    <div class="form-group">
                        <input type="text" class="form-control-input" id="gphone" name="gphone" required=""
                        placeholder="Phone"
                        >
                       
                    </div>
                    <div class="form-group">
                        <input type="text" class="form-control-input" id="gjob" name="gjob" required=""
                        placeholder="Applying for..."
                        >
                       
                    </div>
                    <input name="file_attach" type="file" id="file" class="inputfile" data-multiple-caption="{count} files selected" multiple="" required="">
                    <label for="file"><svg xmlns="http://www.w3.org/2000/svg" width="20" height="17" viewBox="0 0 20 17"><path d="M10 0l-5.2 4.9h3.3v5.1h3.8v-5.1h3.3l-5.2-4.9zm9.3 11.5l-3.2-2.1h-2l3.4 2.6h-3.5c-.1 0-.2.1-.2.1l-.8 2.3h-6l-.8-2.2c-.1-.1-.1-.2-.2-.2h-3.6l3.4-2.6h-2l-3.2 2.1c-.4.3-.7 1-.6 1.5l.6 3.1c.1.5.7.9 1.2.9h16.3c.6 0 1.1-.4 1.3-.9l.6-3.1c.1-.5-.2-1.2-.7-1.5z"></path></svg> <span id="filelabel">Choose a file…</span></label>
                    <div class="form-group checkbox">
                        <input type="checkbox" id="gterms" value="Agreed-to-Terms" name="gterms" required="">I have read Certick's <a class="underline" href="privacy-policy.html">Privacy Policy</a> and <a class="underline" href="terms-conditions.html">Terms</a> and agree to send them my details for the purpose of this form.
                        <div class="help-block with-errors"></div>
                    </div>
                    <div class="form-group">
                        <button type="submit" class="btn-solid-lg form-control-submit-button disabled">SUBMIT</button>
                    </div>
                    <div class="form-message">
                        <div id="gmsgSubmit" class="h3 text-center hidden"></div>
                    </div>
                </form>
                <!-- end of form container -->

            </div> <!-- end of col -->
        </div> <!-- end of row -->
    </div> <!-- end of container -->
</div>

<!-- section 6 -->
<section class="slider">
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <div id="demo" class="carousel slide" data-ride="carousel">
                    <!-- The slideshow -->
                    <div class="carousel-inner">
                    <div class="carousel-item active">
                        <div class="row">
                            <div class="col-lg-12">
                                <div class="testimonial">
                                    <h3>Customer Testimonials</h3>
                                    <p class="testimonial-text p-large">Just out of computer science school I didn't have a 
                                        job and not event too much experience. Still, Certick  helped me find the perfect entry 
                                        level job in web development and for that I am very gratefull to them. 100% recommended!</p>
                                    <h5 class="testimonial-author">"Hitesh Mishra"</h5>
                                </div>
                            </div>
                        </div>
                       
                    </div>
                      <div class="carousel-item">
                        <div class="row">
                            <div class="col-lg-12">
                                <div class="testimonial">
                                    <h3>Customer Testimonials</h3>
                                    <p class="testimonial-text p-large">I had an amazing experience with Certick's team. They helped me find an
                                        awesome software development job which also includes some account and project management
                                        responsibilities. I recommend it to everybody!</p>
                                    <h5 class="testimonial-author">"Mukesh Pandey"</h5>
                                </div>
                            </div>
                        </div>
                      </div>
                     
                    </div>
                  
                    <!-- Left and right controls -->
                    <a class="carousel-control-prev" href="#demo" data-slide="prev">
                      <span class="carousel-control-prev-icon"></span>
                    </a>
                    <a class="carousel-control-next" href="#demo" data-slide="next">
                      <span class="carousel-control-next-icon"></span>
                    </a>
                  
                  </div>
            </div>
        </div>
    </div>
   
</section>



<div id="details" class="accordion clearfix">
    <div class="area-1">
    </div>
    <div class="area-2">
            
            <!-- Accordion -->
            <div class="accordion-container" id="accordionOne">
                <div class="item">
                    <div id="headingOne">
                        <h4>
                            <span data-toggle="collapse" data-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne" role="button">
                                <span class="circle-numbering">1</span><span class="accordion-title">Projects- Renewal Success Rate </span>
                            </span>
                        </h4>
                    </div>
                    <div id="collapseOne" class="collapse show" aria-labelledby="headingOne" data-parent="#accordionOne">
                        <div class="accordion-body"> <strong> Renewal Success Rate</strong>
                            We have a 90 percent fill ratio for every open position we partner for and contract renewal rate for our service is 95 percent. 
                        </div>
                    </div>
                </div> <!-- end of item -->
            
                <div class="item">
                    <div id="headingTwo">
                        <h4>
                            <span class="collapsed" data-toggle="collapse" data-target="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo" role="button">
                                <span class="circle-numbering">2</span><span class="accordion-title">HR Planning Strategic </span>
                            </span>
                        </h4>
                    </div>
                    <div id="collapseTwo" class="collapse" aria-labelledby="headingTwo" data-parent="#accordionOne">
                        <div class="accordion-body">
                            Certick partners with businesses to provide strategic HR Services which include  project’s hiring planning, talent acquisition and employee relations , budget forecast for the long term as we understand that building a great team is an investment.
                        </div>
                    </div>
                </div> <!-- end of item -->
            
                <div class="item">
                    <div id="headingThree">
                        <h4>
                            <span class="collapsed" data-toggle="collapse" data-target="#collapseThree" aria-expanded="false" aria-controls="collapseThree" role="button">
                                <span class="circle-numbering">3</span><span class="accordion-title">Executive Recruiting</span>
                            </span>
                        </h4>
                    </div>
                    <div id="collapseThree" class="collapse" aria-labelledby="headingThree" data-parent="#accordionOne">
                        <div class="accordion-body">
                            We work with a unique combination of experiences, personalities, and backgrounds as we understand that you need to understand and trust the resource with whom you are going to be placed so that you can be assured that the results are going to be worthwhile for your investment.
                        </div>
                    </div>
                </div> <!-- end of item -->
            </div> <!-- end of accordion-container -->
            <!-- end of accordion -->

    </div> <!-- end of area-2 -->
</div>

<div class="tabs clearfix">
    <div class="area-1">
    </div>

    <div class="area-2">
        
        <!-- Tabs -->
        <div class="tabs-container">
            
            <!-- Tabs Links -->
            <ul class="nav nav-pills" id="CertickTabs" role="tablist">
                <li class="nav-item">
                    <a class="nav-link active show" id="nav-tab-1" data-toggle="tab" href="#tab-1" role="tab" aria-controls="tab-1" aria-selected="true">Business</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" id="nav-tab-2" data-toggle="tab" href="#tab-2" role="tab" aria-controls="tab-2" aria-selected="false">Expertise</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" id="nav-tab-3" data-toggle="tab" href="#tab-3" role="tab" aria-controls="tab-3" aria-selected="false">Quality</a>
                </li>
            </ul>
            <!-- end of tabs links -->
            
            <!-- Tabs Content -->
            <div class="tab-content" id="CertickTabsContent">

                <!-- Tab -->
                <div class="tab-pane fade active show" id="tab-1" role="tabpanel" aria-labelledby="tab-1">
                    <h4>HR Services For Companies</h4>
                    <p>Certick provides the most innovative and stable job opportunities from various industries.. </p>
                    
                    <!-- Progress Bars -->
                    <div class="progress-container">
                        <div class="progress">
                            <div class="progress-bar first" role="progressbar" aria-valuenow="0" aria-valuemin="0" aria-valuemax="100">HR Management 100%</div>
                        </div>
                        <div class="progress">
                            <div class="progress-bar second" role="progressbar" aria-valuenow="75" aria-valuemin="0" aria-valuemax="100">Recruiting Services 90%</div>
                        </div>
                        <div class="progress">
                            <div class="progress-bar third" role="progressbar" aria-valuenow="90" aria-valuemin="0" aria-valuemax="100">Outsourcing 75%</div>
                        </div>
                    </div> <!-- end of progress-container -->
                    <!-- end of progress bars -->
                    
                </div> <!-- end of tab-pane --> 
                <!-- end of tab -->

                <!-- Tab -->
                <div class="tab-pane fade" id="tab-2" role="tabpanel" aria-labelledby="tab-2">
                    <div class="feature-wrapper">
                        <div class="number purple">1</div>
                        <div class="text"><strong>Quality</strong> is on top of our list when it comes to the way we deliver our HR professional services</div>
                    </div>
                    <div class="feature-wrapper">
                        <div class="number purple">2</div>
                        <div class="text"><strong>Timely manner</strong> because time is important for everyone.</div>
                    </div>
                    <div class="feature-wrapper">
                        <div class="number purple">3</div>
                        <div class="text"><strong>Long term</strong> partnerships with both hiring companies and candidates helped us along the way</div>
                    </div>
                    <div class="feature-wrapper">
                        <div class="number purple">4</div>
                        <div class="text"><strong>Real pricing</strong> so you can budget you next hiring move and accurately plan your development</div>
                    </div>
                </div> <!-- end of tab-pane -->
                <!-- end of tab -->

                <!-- Tab -->
                <div class="tab-pane fade" id="tab-3" role="tabpanel" aria-labelledby="tab-3">
                    <p>We strive to achieve 100% customer satisfaction for both types of customers: hiring companies and job seekers.</p>
                    <ul class="list-unstyled v-space-lg">
                        <li class="media">
                            <i class="fas fa-chevron-right"></i>
                            <div class="media-body">It's easy to get a quotation, just call our office</div>
                        </li>
                        <li class="media">
                            <i class="fas fa-chevron-right"></i>
                            <div class="media-body">We'll get back to you with an initial estimate quickly</div>
                        </li>
                        <li class="media">
                            <i class="fas fa-chevron-right"></i>
                            <div class="media-body">Get ready to see results even after 30 days of working with Certick</div>
                        </li>
                    </ul>
                    <a class="btn-solid-reg page-scroll" href="#pricing">PRICING</a><a class="btn-outline-reg page-scroll" href="#application">GET HIRED</a>
                </div> <!-- end of tab-pane -->
                <!-- end of tab -->

            </div> <!-- end of tab-content -->
            <!-- end of tabs content -->

        </div> <!-- end of tabs-container -->
        <!-- end of tabs -->

    </div> <!-- end of area-2 -->
</div>

<div id="about" class="counter">
    <div class="container">
        <div class="row">
            <div class="col-lg-5">
                <div class="image-container">

                    <div id="about-slider" class="carousel slide" data-ride="carousel">
                        <!-- The slideshow -->
                        <div class="carousel-inner carousel-inner-about">
                        <div class="carousel-item active">
                            <div class="row">
                                <div class="col-lg-12">
                                    <div class="ab-img">
                                        <img src="assets/images/about-1.jpg" alt="" class="w-100">
                                    </div>
                                </div>
                            </div>
                           
                        </div>
                          <div class="carousel-item">
                            <div class="row">
                                <div class="col-lg-12">
                                    <div class="ab-img">
                                        <img src="assets/images/about-1.jpg" alt="" class="w-100">
                                    </div>
                                </div>
                            </div>
                          </div>
                         
                        </div>
                      
                        <!-- Left and right controls -->
                        <a class="carousel-control-prev" href="#about-slider" data-slide="prev">
                          <span class="carousel-control-prev-icon"></span>
                        </a>
                        <a class="carousel-control-next" href="#about-slider" data-slide="next">
                          <span class="carousel-control-next-icon"></span>
                        </a>
                      
                      </div>

                </div> <!-- end of image-container --> 
            </div> <!-- end of col -->
            <div class="col-lg-7">
                <div class="counter-container">
                    <h2>ABOUT CERTICK</h2>
                    <p class="p-large">Certick is a full-service employment agency specialized in meeting the staffing needs of companies in the IT industry. We diligently recruit, screen and process employees for several IT companies and provide both consulting service and permanent employees based on a company’s requirements. <br>
                        Certick has a highly skilled set of people who come with lots of experience and knowledge. Our experience in human resources enables us to provide high quality and timely HR services for companies of all sizes. Our employees are exceptionally skilled in identifying top talent around the globe and matching them with the client's needs. <br>
                        Our specialization is providing resources in a short notice period and completing the project in on-time.</p>
                    <h5>Our Mission</h5>
                    <p><strong>For Clients: </strong> 
                        To help our Partners focus on their business by providing a Quality staffing service to them. <br>
                        We manage a 360 degree recruitment process for a company, starting from finding and screening, sourcing,interview-scheduling, to follow-up for the shortlisted candidates.
                    </p>
                    <h5>For Candidate</h5>
                    <p>We would love helping people to find the right opportunity  to work. 
                        Our expertise is always available to assist you and find stable job 
                        opportunities  from various industries.
                    </p>

                    <!-- Counter -->
                    <!-- <div id="counter">
                        <div class="cell">
                            <div class="counter-value number-count" data-count="231">231</div>
                            <p class="counter-info">Happy Users</p>
                        </div>
                        <div class="cell">
                            <div class="counter-value number-count" data-count="85">85</div>
                            <p class="counter-info">Issues Solved</p>
                        </div>
                        <div class="cell">
                            <div class="counter-value number-count" data-count="59">59</div>
                            <p class="counter-info">Good Reviews</p>
                        </div>
                        <div class="cell">
                            <div class="counter-value number-count" data-count="127">127</div>
                            <p class="counter-info">Case Studies</p>
                        </div>
                    </div> -->
                    <!-- end of counter -->

                </div> <!-- end of counter-container -->
            </div> <!-- end of col -->
        </div> <!-- end of row -->
    </div> <!-- end of container -->
</div>

<!-- section 8 -->
<div id="contact" class="form-2">
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <h2 class="text-center"><span class="purple-light">CONTACT</span> US</h2>
                <ul class="list-unstyled v-space-lg">
                    <li class="address d-none"><i class="fas fa-map-marker-alt"></i>22 Innovative Area, San Francisco, Bay Area, CA 94043, USA</li>
                    <li class="d-none"><i class="fas fa-phone"></i>+81 720 2212</li>
                    <li><i class="fas fa-envelope"></i><a class="underline" href="mailto:contact@certick.com">contact@certick.com</a></li>
                    <li><i class="fab fa-chrome"></i><a class="underline" href="#your-link">www.certick.com</a></li>
                </ul>
            </div> <!-- end of col -->
        </div> <!-- end of row -->
        <div class="row">
            <div class="col-lg-12">
                
                <!-- Contact Form -->
                <form id="ContactForm" data-toggle="validator" data-focus="false" novalidate="true">
                    <div class="form-group">
                        <input type="text" class="form-control-input" id="cname" required=""
                        placeholder="Name"
                        >
                        
                    </div>
                    <div class="form-group">
                        <input type="email" class="form-control-input" id="cemail" required=""
                        placeholder="Email"
                        >
                     
                    </div>
                    <div class="form-group">
                        <textarea class="form-control-textarea" id="cmessage" required=""
                        placeholder="Your message"
                        ></textarea>
                       
                    </div>
                    <div class="form-group checkbox">
                        <input type="checkbox" id="cterms" value="Agreed-to-Terms" required="">I have read and agree to Certick's <a class="underline" href="privacy-policy.html">Privacy Policy</a> and <a class="underline" href="terms-conditions.html">Terms Conditions</a> 
                        <div class="help-block with-errors"></div>
                    </div>
                    <div class="form-group">
                        <button type="submit" class="form-control-submit-button disabled">SUBMIT</button>
                    </div>
                    <div class="form-message">
                        <div id="cmsgSubmit" class="h3 text-center hidden"></div>
                    </div>
                </form>
                <!-- end of contact form -->

            </div> <!-- end of col -->
        </div> <!-- end of row -->
    </div> <!-- end of container -->
</div>