
.banner{
    background: linear-gradie, 
    url(../../assets/images/header-background1.jpg);
	text-align: center;
    color: #fff;
    background-repeat: no-repeat;
    background-attachment: scroll;
    background-position: center center;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 100vh;
    padding-top: 0;
}
// p{
//     font-family: "Open Sans", sans-serif;
//     font-size: 17px;
//     word-spacing: 3px;
//     letter-spacing: 1px;
// }
.banner-text{
	padding:200px 0 150px 0;
}
.banner-heading{
font-size: 80px;
    line-height: 60px;
    margin-bottom: 0px;
    // font-family: fantasy;
}
.banner-title{
	font-size: 40px;
    font-weight: 500;
    line-height: 60px;
    margin-bottom: 2px;
}
.banner-sub-heading{
    font-size: 20px;
    margin-bottom: 50px;
    word-spacing: 0px;
    letter-spacing: 1px;
    line-height: 2.1rem;
}





//********************************



// section 3
.basic-2 {
    padding-top: 7rem;
    padding-bottom: 4.5rem;
    background: linear-gradient(rgba(42, 53, 68, 0.2), rgba(42, 53, 68, 0.2)), url(
        ../../assets/images/bg1.jpg) center center no-repeat;
    background-size: cover;
}
.basic-2 h2 {
    color: #fff;
}
.purple-light {
    color: #b15bfd;
}
.basic-2 h2, .basic-2 .p-heading {
    text-align: center;
}

.basic-2 p {
    color: #fff;
}
@media (min-width: 768px){
.basic-2 .text-container {
    width: 95%;
}}
.basic-2 .text-container p {
    margin-bottom: 0.625rem;
}
.basic-2 .p-small {
    color: #d6cfcf;
}
.basic-2 .p-small .fa-calendar-alt {
    margin-right: 0.375rem;
    color: #b15bfd;
    vertical-align: 7%;
}
.btn-read-more {
    color: #91d343;
    font: 600 0.875rem/1.5rem "Montserrat", sans-serif;
    transition: all 0.2s;
}
//********************************************



//section 5
.form-1 {
padding-top: 2.5rem;
    padding-bottom: 2.375rem;
    background-color: #2f3b4d;
    color: #fff;
}
@media (min-width: 1200px){
.form-1 .text-container {
    margin-left: 3rem;
}
}
@media (min-width: 992px){
.form-1 .text-container {
    margin-top: 0rem;
}}

.form-1 h3, .form-1 h4, .form-1 p, .form-1 ul, .form-1 a {
    color: #fff;
}
.form-1 h4 {
    margin-top: 2.5rem;
}
.v-space-lg li {
    margin-bottom: 0.25rem;
}
.form-1 .list-unstyled .fas {
    color: #b15bfd;
    line-height: 1.5rem;
}
.form-1 .list-unstyled .media-body {
margin-left: 0.375rem;
    font-family: "Open Sans", sans-serif;
    font-size: 15px;
    word-spacing: 0px;
    letter-spacing: 0.5px;
}
.form-1 form {
    margin-right: 7rem;
    margin-left: 1rem;
}

.form-control-input, .form-control-select {
    width: 100%;
    padding: 8px 20px;
    border: 1px solid #445266;
    border-radius: 0.25rem;
    background-color: #516686;
    color: #fff;
    font: 400 0.875rem/1.9375rem "Open Sans", sans-serif;
    transition: all 0.2s;
}


// .checkbox {
//     font: 400 0.75rem/1.25rem "Open Sans", sans-serif;
// }
input[type='checkbox'] {
    vertical-align: -15%;
    margin-right: 0.375rem;
}
.form-control-submit-button {
    width: 100%;

}
//*********************************************

//*************************
//section 7
.cards-1 {
    padding-top: 4rem;
    padding-bottom: 3.125rem;
    background-color: #f8f9fc;
}
.purple {
    color: #b15bfd;
}
.cards-1 .card {
    max-width: 20.875rem;
    margin-right: auto;
    // margin-bottom: 2.75rem;
    margin-left: auto;
    border: none;
    background: transparent;
}
.cards-1 .card-image {
    width: 7rem;
    height: 7rem;
    margin-right: auto;
    margin-bottom: 1.5rem;
    margin-left: auto;
}
.cards-1 .card-title {
    margin-bottom: 0.5rem;
}
.cards-1 .card-body p {
    margin-bottom: 1.375rem;
    line-height: 1.375rem;
}
.p-heading {
    margin-bottom: 3.75rem;
}
//*************************************




//section 8
.form-2 {
   padding-top: 3rem;
    padding-bottom: 2.5rem;
    background: linear-gradient(rgb(0 0 0 / 95%), rgb(0 0 0 / 88%)), url(../../assets/images/contact-bg.jpg);
     
    background-size: cover;
    color: #fff;
}

.form-2 .list-unstyled.v-space-lg {
    margin-bottom: 3.5rem;
    font: 400 1rem/1.625rem "Open Sans", sans-serif;
    text-align: center;
}
@media (min-width: 768px){
.form-2 .list-unstyled .address {
    display: block;
}}
.form-2 .list-unstyled .fas, .form-2 .list-unstyled .fab {
    margin-right: 0.375rem;
    font-size: 0.875rem;
    color: #b15bfd;
}
@media (min-width: 768px){
.form-2 .list-unstyled li {
    display: inline;
    margin-right: 0.75rem;
}
}

.form-2 h2, .form-2 a {
    color: #fff;
}
@media (min-width: 992px){
.form-2 #ContactForm {
    max-width: 38rem;
}
}
.form-2 #ContactForm {
    max-width: 31rem;
    margin-right: auto;
    margin-left: auto;
}
.form-group {
    position: relative;
    margin-bottom: 1.125rem;
}
.form-control-input, .form-control-select {
    display: block;
    width: 100%;
    padding: 8px 20px;
    border: 1px solid #445266;
    border-radius: 0.25rem;
    background-color: #445266;
    color: #fff;
    font: 400 0.875rem/1.9375rem "Open Sans", sans-serif;
    transition: all 0.2s;
    -webkit-appearance: none;
}

.form-control-textarea {
    display: block;
    width: 100%;
    height: 8rem;
    padding-top: 1.25rem;
    padding-left: 1.3125rem;
    border: 1px solid #445266;
    border-radius: 0.25rem;
    background-color: #445266;
    color: #fff;
    font: 400 0.875rem/1.75rem "Open Sans", sans-serif;
    transition: all 0.2s;
}
// .checkbox {
//     font: 400 0.75rem/1.25rem "Open Sans", sans-serif;
// }
input[type='checkbox'] {
    vertical-align: -15%;
    margin-right: 0.375rem;
}
.form-control-submit-button {
    display: inline-block;
    width: 100%;
    height: 3rem;
    border: 1px solid #b15bfd;
    border-radius: 1.5rem;
    background-color: #b15bfd;
    color: #fff;
    font: 700 0.875rem/0.0rem "Montserrat", sans-serif;
    cursor: pointer;
    transition: all 0.2s;
}
.form-control-submit-button:hover {
    background-color: transparent;
    color: #b15bfd;
}

//about us
.counter {
    padding-top: 3.5rem;
    padding-bottom: 0.5rem;
    background: linear-gradient(rgb(46 73 171 / 80%), rgb(190 30 96 / 57%)), url(../../assets/images/bg1.jpg);
    background-size: cover;
    color: #fff;
}
@media (min-width: 1200px){
.counter .counter-container {
    margin-left: 2rem;
    padding-top: 6rem;
}}

@media (min-width: 992px){
.counter .counter-container {
    padding-top: 2rem;
}}
.counter .p-large {
    margin-bottom: 1.75rem;
}

.counter h2, .counter h5, .counter p {
    color: #fff;
}
// .p-large {
//     font: 400 1rem/1.625rem "Open Sans", sans-serif;
// }
.counter #counter {
    margin-top: 3rem;
    text-align: center;
}
@media (min-width: 1200px)
{
.counter #counter {
    text-align: left;
}}
@media (min-width: 1200px){
.counter #counter .cell {
    width: 7rem;
}}
@media (min-width: 1200px){
.counter #counter .counter-value {
    font: 600 4rem/3.75rem "Montserrat", sans-serif;
}}
.counter #counter .counter-info {
    margin-bottom: 0;
    color: #fff;
    font: 400 0.875rem/1.25rem "Open Sans", sans-serif;
    vertical-align: middle;
}
.counter #counter .cell {
    width: 7rem;
}

.counter #counter .cell {
    display: inline-block;
    width: 5.75rem;
    margin-right: 2rem;
    margin-bottom: 2rem;
    text-align: center;
}
.counter #counter .cell {
    width: 7rem;
}
.carousel-inner-about{ width: 100%;}

.accordion .area-1 {
    float: left;
    width: 50%;
    height: 34rem;
}

.accordion .area-1 {
    margin: auto;
    background: url(../../assets/images/bg4.jpg) center no-repeat;
    background-size: cover;
}
.accordion .area-2 {
    float: right;
    width: 50%;
}
.accordion .accordion-container {
    width: 30rem;
    margin-left: 5rem;
    padding-top: 8.5rem;
}
.accordion .item {
    margin-bottom: 2rem;
}
.accordion h4 {
    margin-bottom: 0;
}
.accordion span[aria-expanded="true"] .circle-numbering, .accordion span[aria-expanded="false"] .circle-numbering {
    display: inline-block;
    width: 2.5rem;
    height: 2.5rem;
    margin-right: 0.875rem;
    border: 1px solid #b15bfd;
    border-radius: 50%;
    background-color: #b15bfd;
    color: #fff;
    font: 600 1rem/2.375rem "Open Sans", sans-serif;
    text-align: center;
    vertical-align: middle;
    cursor: pointer;
    transition: all 0.2s;
}
.accordion span[aria-expanded="true"] .accordion-title {
    color: #b15bfd;
}
.accordion span[aria-expanded="false"] .circle-numbering {
    border: 1px solid #3b485a;
    background-color: #3b485a;
}
.accordion .accordion-body {
    margin-left: 3.5rem;
    font-size: 17px;
    word-spacing: 3px;
    letter-spacing: 1px;
}
.tabs .area-1 {
    height: 22rem;
    margin: auto;
    background: linear-gradient(rgba(255, 99, 30, 0.0), rgba(255, 99, 30, 0.0)), url(
        ../../assets/images/bg5.jpg) center no-repeat;
    background-size: cover;
}
.tabs .area-1 {
    float: right;
    width: 50%;
    height: 35rem;
}
.tabs .area-2 {
    float: left;
    width: 50%;
}

.tabs .tabs-container {
    float: right;
    width: 26rem;
    margin-right: 3rem;
    padding-top: 8.5rem;
    padding-bottom: 0;
}
.tabs .nav-pills {
    justify-content: flex-start;
}
.tabs .tabs-container {
    width: 30rem;
    margin-right: 5rem;
}
.tabs .nav-link.active {
    background-color: #91d343;
}
.tabs .nav-link {
    margin-right: 0.5rem;
    margin-bottom: 0.625rem;
    padding: 0.625rem 1.75rem;
    background-color: #b15bfd;
    color: #fff;
    font: 600 0.875rem/1.375rem "Montserrat", sans-serif;
}
.tabs #tab-1 .progress-container {
    margin-top: 1.375rem;
}
.tabs #tab-1 .progress {
    height: 1.625rem;
    margin-bottom: 0.875rem;
    border-radius: 0.125rem;
    background-color: #fff;
}
.tabs #tab-1 .progress-bar.first {
    width: 100%;
}
.tabs #tab-1 .progress-bar {
    display: block;
    padding-left: 1.5rem;
    border-radius: 0.125rem;
    background-color: #b15bfd;
    font: 400 0.75rem/1.625rem "Open Sans", sans-serif;
    text-align: left;
}
.tabs #tab-1 .progress-bar.second {
    width: 75%;
}
.tabs #tab-1 .progress-bar.third {
    width: 90%;
}
.tabs #tab-2 .feature-wrapper {
    display: inline-block;
    width: 49%;
    vertical-align: top;
}
.tabs #tab-2 .feature-wrapper .number {
    display: inline-block;
    margin-top: 0.5rem;
    margin-right: 0.375rem;
    font-weight: 600;
    font-size: 2.5rem;
    vertical-align: top;
}
.purple {
    color: #b15bfd;
}
.tabs #tab-2 .feature-wrapper .text {
    width: 82%;
}
.tabs #tab-2 .feature-wrapper .text {
    display: inline-block;
    width: 87%;
    font-size: 17px;
    word-spacing: 3px;
    letter-spacing: 1px;
}
.v-space-lg li {
    margin-bottom: 0.25rem;
}
.tabs #tab-3 .list-unstyled .fas {
    color: #c788ff;
    font-size: 0.875rem;
    line-height: 1.5rem;
}
.tabs #tab-3 .list-unstyled .media-body {
    margin-left: 0.375rem;
}
.tabs #tab-3 .btn-solid-reg {
    margin-right: 0.5rem;
    margin-bottom: 1rem;
}

/*Mobile portrait (320x480)*/
@media (min-width:310px) and (max-width:470px){
    .accordion .accordion-body {
 margin-left: 3.5rem;
    font-size: 16px;
    word-spacing: 0px;
    letter-spacing: 0px;
}
    // p{
    // font-size: 18px;
    // word-spacing: 0px;
    // letter-spacing: 1px;
    // line-height: 2.1rem;
    // }
    .accordion .area-1 {
        float: none;
        width: 100%;
        height: 24rem;
    }
    .accordion .area-2 {
        float: none;
        width: 100%;
    }
    .accordion .accordion-container {
        width: auto;
        margin: 0 14px;
        padding-top: 44px;
    }
    .accordion .item h4 {
        font-size: 17px;
    }
    .tabs .area-1 {
        float: none;
        width: 100%;
        height: 24rem;
    }
    .tabs .area-2 {
        float: none;
        width: 100%;
    }
    .tabs .tabs-container {
        width: auto;
        margin: 1rem;
    }
    .tabs .tabs-container {
        float: none;
        margin: 1rem;
  padding-top: 20px;
    padding-bottom: 20px;
    }
    .tabs .nav-link {
        padding: 8px 17px;
    }
    .banner-heading {
        font-size: 52px;
        line-height: 52px;
        margin-bottom: 30px;
    }
    .banner-title{
        font-size: 30px;
        font-weight: 500;
        line-height: 38px;
        margin-bottom: 20px;
    }
    .banner{
        height: 100vh;
    }
    .panel-btn button{
        width: 46%
    }
    .element-item {
        margin: 12px;
    }
    .text-container {
        margin-bottom: 43px;
    }
    .form-1 form {
        margin-right: 0;
        margin-left: 0;
    }
    .form-control-submit-button{
        font: 700 0.875rem/0.1rem "Montserrat", sans-serif;
    }
    .text-container{
        width: 100%;
    }
    .carousel-inner {
        width: 80%;
    }
    .counter-container{
        margin: 70px 0px;
    }
    .counter #counter .counter-value {
        margin-bottom: 0.125rem;
        color: #fff;
        font: 600 3.5rem/3.75rem "Montserrat", sans-serif;
        vertical-align: middle;
    }
    .footer p{
        margin-top: 10px;
    }
    .basic-1 .area-1, .basic-1 .area-2 {
        padding: 60px 20px;
    }
   
}
@media (min-width:768px) and (max-width:1024px){
.accordion .area-1 {
    float: none;
    width: 100%;
    height: 24rem;
}
.accordion .area-2 {
    float: none;
    width: 100%;
}
.accordion .accordion-container {
    padding-top: 5.5rem;
}
.tabs .area-1 {
    float: none;
    width: 100%;
    height: 24rem;
}
.tabs .area-2 {
    float: none;
    width: 100%;
}
.tabs .tabs-container {
    float: right;
    width: 26rem;
    margin-right: 3rem;
    padding-top: 4.5rem;
    padding-bottom: 4rem;
}
.tabs .tabs-container {
    float: none;
    margin: 1rem;
    padding-top: 20px;
    padding-bottom: 20px;
}
}