.footer {
    padding-top: 4rem;
    background-color: #2f3b4d;
}
@media (min-width: 1200px){
.footer .footer-col {
    width: 95%;
}
}
@media (min-width: 768px){
.footer .footer-col {
    margin-bottom: 3rem;
}}
.footer h4 {
    margin-bottom: 0.75rem;
}

.footer h4, .footer p, .footer ul, .footer a {
    color: #fff;
}
.footer h4, .footer p, .footer ul, .footer a {
    color: #fff;
}
.v-space-lg li {
    margin-bottom: 0.25rem;
}
.footer .list-unstyled .fas {
    color: #b15bfd;
    font-size: 0.875rem;
    line-height: 1.5rem;
}
@media (min-width: 768px){
.footer .fa-stack.fa-lg {
    margin-right: 0.25rem;
}}
.footer .fa-stack.fa-lg {
    margin-top: 0.375rem;
    margin-right: 0.125rem;
    font-size: 1.5rem;
    line-height: 3rem;
}
.footer .fa-stack a .fa-stack-2x {
    color: #b15bfd;
    transition: all 0.2s;
}
.fa-stack {
    display: inline-block;
    height: 2em;
    line-height: 2em;
    position: relative;
    vertical-align: middle;
    width: 2em;
}
.footer .list-unstyled .media-body {
    margin-left: 0.375rem;
}