


<div class="footer">
    <div class="container">
        <div class="row">
            <div class="col-md-4">
                <div class="footer-col">
                    <h4>About Certick</h4>
                    <p>
                        The 360-Degree Staffing Solution!
Certick is your one stop solution for all employment and organizational development needs whether you are a large company or an individual seeking employment, We are here to help you!

                    </p>
                </div>
            </div> <!-- end of col -->
            <div class="col-md-5">
                <div class="footer-col mx-auto">
                    <h4>Latest Jobs</h4>
                    <div class="row">
                    <div class="col-6">
                        <ul class="list-unstyled v-space-lg">
                            <li class="media">
                                <i class="fas fa-chevron-right"></i>
                                <div class="media-body"> FullStack Developer </div>
                            </li>
                            <li class="media">
                                <i class="fas fa-chevron-right"></i>
                                <div class="media-body"> Backend Developer </div>
                            </li>
                            <li class="media">
                                <i class="fas fa-chevron-right"></i>
                                <div class="media-body"> Java Developer  </div>
                            </li>
                            <li class="media">
                                <i class="fas fa-chevron-right"></i>
                                <div class="media-body">  QA  </div>
                            </li>
                            <li class="media">
                                <i class="fas fa-chevron-right"></i>
                                <div class="media-body"> Devops  </div>
                            </li>
                           
                           
    
                        </ul>
                    </div>
                    <div class="col-6">
                        <ul class="list-unstyled v-space-lg">
                            
                            <li class="media">
                                <i class="fas fa-chevron-right"></i>
                                <div class="media-body"> UI Developer   </div>
                            </li>
                            <li class="media">
                                <i class="fas fa-chevron-right"></i>
                                <div class="media-body">  Machine Learning  </div>
                            </li>
                            <li class="media">
                                <i class="fas fa-chevron-right"></i>
                                <div class="media-body">  Data Scientist  </div>
                            </li>
                            <li class="media">
                                <i class="fas fa-chevron-right"></i>
                                <div class="media-body">  Data Engineer  </div>
                            </li>
                            <li class="media">
                                <i class="fas fa-chevron-right"></i>
                                <div class="media-body">  Technical Manager   </div>
                            </li>
                           
                        </ul>
                    </div>
                </div>
                <p>
                    Many More Please upload your resume and our expert will reach out to you with best opportunities . <br>
                    <a href="" style="color: #b15bfd;">Email ID : contact@certick.com</a>
                </p>
                </div>
            </div> <!-- end of col -->
            <div class="col-md-3">
                <div class="footer-col float-lg-right text-center">
                    <h4>Social Media</h4>
                    <span class="fa-stack fa-lg">
                        <a href="#your-link">
                            <i class="fas fa-circle fa-stack-2x facebook"></i>
                            <i class="fab fa-facebook-f fa-stack-1x"></i>
                        </a>
                    </span>
                   
                    <span class="fa-stack fa-lg">
                        <a href="#your-link">
                            <i class="fas fa-circle fa-stack-2x google-plus"></i>
                            <i class="fab fa-google-plus-g fa-stack-1x"></i>
                        </a>
                    </span>
                    <span class="fa-stack fa-lg">
                        <a href="https://www.linkedin.com/company/certick" target="_blank">
                            <i class="fas fa-circle fa-stack-2x instagram"></i>
                            <i class="fab fa-linkedin-in fa-stack-1x"></i>
                           
                        </a>
                    </span>
                   
                    
                </div> 
            </div> <!-- end of col -->
        </div> <!-- end of row -->
    </div> <!-- end of container -->
    <div class="copyright mt-3">
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    <p class="p-small text-center">
                        Copyright © Dapps Solution India Pvt LTD
                    </p>
                </div> <!-- end of col -->
            </div> <!-- enf of row -->
        </div> <!-- end of container -->
    </div> <!-- end of copyright -->
</div>
