/* You can add global styles to this file, and also import other style files */
html {
    scroll-behavior: smooth;
  }
a{text-decoration: none!important;}
.btn:focus {
    outline: 0;
    box-shadow: none;
    border: 1px solid #91d343;
    background-color: #91d343!important;
}
body {
    color: #37373c;
    letter-spacing: 1px;
    word-spacing: 3px;
    font-family: "Open Sans", sans-serif;
}
.top-bottom{
    margin: 60px 0;
}
.dif-color{color: #b15bfd;}
.h2, h2 {
    font: 700 2.375rem/2.75rem "Montserrat", sans-serif;
    margin-bottom: 0.875rem;
}
h1,.h1{
    font: 700 3rem/3.5rem "Montserrat", sans-serif;
    letter-spacing: -1.25px;
}
.ex-basic-1 {
    padding-top: 2rem;
    padding-bottom: 0.875rem;
    background-color: #2f3b4d;
    color: #fff;
}
.ex-basic-1 a {
    color: #fff;
}
.banner{
    background: #b15bfd;
    text-align: center;
    color: #fff;
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 60vh;
    padding-top: 0;
}
.ex-basic-2 {
    padding-top: 5rem;
    padding-bottom: 4rem;
    background-color: #3b485a;
    color: #fff;
}
.ex-basic-2 .text-container.dark {
    margin-bottom: 4rem;
    padding: 2rem 1.75rem 1.5rem 2rem;
    background-color: #2f3b4d;
}
.ex-basic-2 h3, .ex-basic-2 h4, .ex-basic-2 p, .ex-basic-2 a {
    color: #fff;
}
.indent {
    padding-left: 1.25rem;
}
.ex-basic-2 .v-space-lg li {
    margin-bottom: 0.625rem;
}
.ex-basic-2 .list-unstyled .fas {
    color: #fff;
    font-size: 0.875rem;
    line-height: 1.5rem;
}
.ex-basic-2 .list-unstyled .media-body {
    margin-left: 0.375rem;
}
h3 {
    margin-bottom: 0.625rem;
    color: #3b485a;
    font: 700 1.875rem/2.5rem "Montserrat", sans-serif;
}
.btn-solid-lg {
    display: inline-block;
    padding: 1.5rem 2.625rem 1.5rem 2.625rem;
    border: 2px solid #91d343;
    border-radius: 2rem;
    background-color: #91d343;
    color: #fff;
    font: 700 0.875rem/0 "Montserrat", sans-serif;
    transition: all 0.2s;
}
.btn-solid-lg:hover {
    background-color: transparent;
    color: #91d343;
}
.btn-solid-reg {
    display: inline-block;
    padding: 1.25rem 2.25rem 1.25rem 2.25rem;
    border: 1px solid #91d343;
    border-radius: 2rem;
    background-color: #91d343;
    color: #fff;
    font: 700 0.875rem/0 "Montserrat", sans-serif;
    transition: all 0.2s;
}
.btn-outline-reg {
    display: inline-block;
    padding: 1.25rem 2.25rem 1.25rem 2.25rem;
    border: 1px solid #b15bfd;
    border-radius: 2rem;
    background-color: transparent;
    color: #b15bfd;
    font: 700 0.875rem/0 "Montserrat", sans-serif;
    transition: all 0.2s;
}
.btn-solid-reg:hover {
    background-color: transparent;
    color: #91d343;
}
.btn-outline-reg:hover {
    background-color: #b15bfd;
    color: #fff;
}
.form-1 .inputfile {
    width: 0.1px;
    height: 0.1px;
    opacity: 0;
}
.form-1 .inputfile + label {
    overflow: hidden;
    padding: 0.6875rem 1.25rem;
    border-radius: 0.25rem;
    background-color: #445266;
    font-size: 0.875rem;
    cursor: pointer;
    transition: all 0.2s;
}
.form-1 .inputfile + label svg {
    width: 1em;
    height: 1em;
    margin-top: -0.375em;
    margin-right: 0.25em;
    fill: currentColor;
}

//*******section 2 **************
.basic-1 .area-1 {
    background-color: #2f3b4d;
}
.basic-1 .area-1, .basic-1 .area-2 {
    height: 100%;
    padding-top: 7.5rem;
    padding-bottom: 6.5rem;
}
.basic-1 .area-1 .text-container {
    max-width: 29.375rem;
    margin-right: 4rem;
}
.basic-1 .fa-stack {
    margin-right: 0.5rem;
    vertical-align: -19%;
}
.basic-1 .area-1 .fa-stack-2x {
    color: #b15bfd;
}
.basic-1 .area-2 .fa-stack-2x {
    color: #b15bfd;
}
.basic-1 h3 {
    display: inline-block;
}
.basic-1 h3, .basic-1 p {
    color: #fff;
}
.basic-1 .area-2 {
    background-color: #3b485a;
}
.text-container{
    width: 80%; margin: auto;
}
.panel-btn button {
    margin-right: 3px;
    margin-bottom: 0.75rem;
    margin-left: 3px;
    padding: 0.25rem 1.25rem 0.25rem 1.25rem;
    border-radius: 0.125rem;
    background-color: #b15bfd;
    color: #fff;
    font: 600 0.875rem/1.375rem "Montserrat", sans-serif;
    cursor: pointer;
    transition: all 0.2s ease;
    width: 14%;
}

.panel-btn button:nth-of-type(1) {
    background-color: #91d343;
}
.panel-btn {
    margin: 30px 0 20px;
}
//section 6

.slider {
padding-top: 4rem;
    padding-bottom: 4.125rem;
    // background: linear-gradient(rgba(78, 3, 139, 0), rgba(78, 3, 139, 0)), url(
    //     ../../assets/images/bg1.jpg) center center no-repeat;
    background-size: cover;
    border-bottom: 1px solid #dcdcdc;
}
.carousel-inner {
    text-align: center;
    width: 60%;
    margin: auto;
}
.slider h3{
    margin-bottom: 1.25rem;
    color: #b15bfd;
    text-align: center;
    font: 700 1.875rem/2.5rem "Montserrat", sans-serif;
}
.slider p {
    margin-bottom: 1rem;
    font-size: 1.225rem;
    line-height: 1.75rem;
    font-style: italic;
}
.testimonial-text {
    font-style: italic;
    color: #2d2d2d;
}
.slider h5{
    margin-bottom: 1.25rem;
    color: #6b6b6b;
}
@media (min-width:768px) and (max-width:1024px){
.basic-1 .area-1, .basic-1 .area-2 {
    padding: 60px 20px;
}
.basic-1 .area-1 .text-container {
    max-width: 100%;
    margin-right: 4rem;
}
.accordion .area-1 {
    float: none;
    width: 100%;
    height: 24rem;
}
}