<section>
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
              
              <nav class="navbar navbar-expand-md navbar-dark fixed-top" id="banner">
                <a class="navbar-brand scroll-w" href="#">
                    <img src="assets/images/Certick_01.png" alt="">
                  </a>  
                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarTogglerDemo03" aria-controls="navbarTogglerDemo03" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                  </button>
                  
                
                  <div class="collapse navbar-collapse" id="navbarTogglerDemo03">
                    <ul class="navbar-nav ml-auto mt-2 mt-lg-0">
                      <li data-toggle="collapse" data-target="#navbarTogglerDemo03" class="nav-item">
                        <a class="nav-link" href="#home">Home <span class="sr-only">(current)</span></a>
                      </li>
                      <li data-toggle="collapse" data-target="#navbarTogglerDemo03" class="nav-item">
                        <a class="nav-link" href="#about" >About</a>
                      </li>
                      <li data-toggle="collapse" data-target="#navbarTogglerDemo03" class="nav-item">
                        <a class="nav-link" href="#services" >Services</a>
                      </li>
                      <li data-toggle="collapse" data-target="#navbarTogglerDemo03" class="nav-item">
                        <a class="nav-link" href="#application" >Career</a>
                      </li>
                     
                      <!-- <li class="nav-item dropdown dmenu">
                      <a class="nav-link dropdown-toggle" href="#" id="navbardrop" data-toggle="dropdown">
                        About Us
                      </a>
                      <div class="dropdown-menu sm-menu">
                        <a data-toggle="collapse" data-target="#navbarTogglerDemo03" class="dropdown-item" routerLink="/JobDetails">CAREER </a>
                        <a data-toggle="collapse" data-target="#navbarTogglerDemo03" class="dropdown-item" routerLink="/Conditions">TERMS CONDITIONS</a>
                        <a data-toggle="collapse" data-target="#navbarTogglerDemo03" class="dropdown-item" routerLink="/Privacy">PRIVACY POLICY</a>
                      </div>
                    </li> -->
                    <li data-toggle="collapse" data-target="#navbarTogglerDemo03" class="nav-item">
                      <a class="nav-link" href="#contact" >Contact Us</a>
                    </li>
             
                    </ul>
                    <span class="nav-item mobile-none d-none">
                        <a class="btn-outline-sm" href="#your-link"><i class="fa fa-phone"></i>+80 718 64 64</a>
                    </span>
                  </div>
                </nav>
            </div>
        </div>
    </div>
</section>

<a id="back-to-top" href="#" class="btn btn-primary back-to-top" role="button" title="Go To Top" data-toggle="tooltip" data-placement="left"><i class="fas fa-arrow-up"></i></a>