
.navbar-nav .nav-item .nav-link{
    padding: 1.1em 13px !important;
    letter-spacing: 1px;
    color: #fff;
    text-transform: uppercase;
    font-size: 13px;
    font-weight: 500;
}
.navbar-nav .nav-item .nav-link:hover{color:#befd77;}
.navbar-expand-md .navbar-nav .dropdown-menu{
	border-top: 3px solid #3b485a;
    background-color: #3b485a;
}
.dropdown-item:hover{background-color:transparent;color:#befd77!important;}
.navbar-expand-md .navbar-nav .dropdown-menu .dropdown-item{
    color: #ffffff;
    font: 600 0.75rem/1.5rem "Montserrat", sans-serif;
}


 .shrink {
    padding-top: 0;
    padding-bottom: 0;
    background-color: #b15bfd;
}

//******************************
.fixed-top{
	top: 24px;
	transition-duration: 0.3s;

}
.shrink {
    top: 0;
    transition-duration: 0.3s;
}
#banner {
    padding: 0 130px;
}
.navbar-brand{
	width: 9%;
}
.navbar-brand img{
	width: 100%;
}
.btn-outline-sm{
    padding: 9px 26px;
    border: 1px solid #fff;
    border-radius: 2rem;
    background-color: transparent;
    color: #fff;
    font: 700 0.75rem/0 "Montserrat", sans-serif;
    transition: all 0.2s;
    margin-left: 14px;
}
.btn-outline-sm:hover {
    background-color: #fff;
    color: #37373c;
}
.btn-outline-sm i {
    margin-right: 7px;
}
@media (max-width:500px){
    #banner{
        padding: 0 20px;
    }
    .navbar-brand{
        width: 25%;
    }
    .shrink .scroll-w {
    width: 20% !important;
    transition-duration: 0.5s;
}
    #navbarTogglerDemo03 {
        background-color: #fff;
        border-radius: 10px;
    }
    .navbar-nav .nav-item .nav-link {
        padding: 17px 13px !important;
        color: #000;
        font-size: 20px;
    }
    .mobile-none{
        display: none;
    }
    .fixed-top {
        top: 0px!important;
    }
    .navbar-expand-md .navbar-nav .dropdown-menu .dropdown-item {
        font: 600 1.1rem/1.5rem "Montserrat", sans-serif;
    }
    .dropdown-item {
        padding: 14px;
    }
}
.back-to-top {
    cursor: pointer;
    position: fixed;
    bottom: 20px;
    right: 20px;
    display:none;
    z-index: 9999;
}
.back-to-top {
    background-color: rgb(177 91 253);
    border-color: rgb(177 91 253);
}
.shrink .scroll-w {
    width: 6%;
    transition-duration: 0.5s;
}
.shrink .scroll-w{
     transition-duration: 0.5s;
}