<div class="banner">
    <div class="container">
        <div class="banner-text">
            <div class="h1">
                Terms & Conditions
            </div>
        </div>
    </div>
</div>
<div class="ex-basic-1">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <ul class="breadcrumbs list-unstyled list-inline">
                    <li class="list-inline-item"><a class="underline" href="index.html">Home</a></li>
                    <li class="list-inline-item"><i class="fa fa-angle-double-right"></i></li>
                    <li class="list-inline-item">Terms & Conditions</li>
                </ul>
            </div> <!-- end of col -->
        </div> <!-- end of row -->
    </div> <!-- end of container -->
</div>
<div class="ex-basic-2">
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <div class="text-container">
                    <h4>Limitations Of Liability</h4>
                    <p>Certick also automatically collects and receives certain information from your computer or mobile device, including the activities you perform on our Website, the Platforms, and the Applications, the type of hardware and software you are using (for example, your operating system or browser), and information obtained from cookies. For example, each time you visit the Website or otherwise use the Services, we automatically collect your IP address, browser and device type, access times, the web page from which you came, the regions from which you navigate the web page, and the web page(s) you access (as applicable).</p>
                    <p>When you first register for a Certick account, and when you use the Services, we collect some <a class="underline" href="#your-link">Personal Information</a> about you such as:</p>
                    <ul class="list-unstyled v-space-lg indent">
                        <li class="media">
                            <i class="fas fa-chevron-right"></i>
                            <div class="media-body">The geographic area where you use your computer and mobile devices</div>
                        </li>
                        <li class="media">
                            <i class="fas fa-chevron-right"></i>
                            <div class="media-body">Your full name, username, and email address and other contact details</div>
                        </li>
                        <li class="media">
                            <i class="fas fa-chevron-right"></i>
                            <div class="media-body">A unique Certick user ID (an alphanumeric string) which is assigned to you upon registration</div>
                        </li>
                        <li class="media">
                            <i class="fas fa-chevron-right"></i>
                            <div class="media-body">Other optional information as part of your account profile</div>
                        </li>
                        <li class="media">
                            <i class="fas fa-chevron-right"></i>
                            <div class="media-body">Your IP Address and, when applicable, timestamp related to your consent and confirmation of consent</div>
                        </li>
                        <li class="media">
                            <i class="fas fa-chevron-right"></i>
                            <div class="media-body">Other information submitted by you or your organizational representatives via various methods</div>
                        </li>
                    </ul>
                </div> <!-- end of text-container -->
                
                <div class="text-container">
                    <h4>Terms And Conditions</h4>
                    <p>Under no circumstances shall Certick be liable for any direct, indirect, special, incidental or consequential damages, including, but not limited to, loss of data or profit, arising out of the use, or the inability to use, the materials on this site, even if Certick or an authorized representative has been advised of the possibility of such damages. If your use of materials from this site results in the need for servicing, repair or correction of equipment or data, you assume any costs thereof.</p>
                </div> <!-- end of text-container -->

                <div class="text-container">
                    <h4>License Types &amp; Template Usage</h4>
                    <p>All our templates inherit the GNU general public license from HTML. All .PSD &amp; CSS files are packaged separately and are not licensed under the GPL 2.0. Instead, these files inherit Certick Personal Use License. These files are given to all Clients on a personal use basis. You may not offer them, modified or unmodified, for redistribution or resale of any kind. You can’t use one of our themes on a HTML domain. More on HTML Vs CSS, you can read here. You can use our templates do develop sites for your clients.</p>
                    <p>Services help our customers promote their products and services, marketing and advertising; engaging audiences; scheduling and publishing messages; and analyze the results.</p>
                </div> <!-- end of text-container -->

                <div class="text-container">
                    <h4>Designer Membership And How It Applies</h4>
                    <p>By using any of the Services, or submitting or collecting any Personal Information via the Services, you consent to the collection, transfer, storage disclosure, and use of your Personal Information in the manner set out in this Privacy Policy. If you do not consent to the use of your Personal Information in these ways, please stop using the Services.</p>
                </div> <!-- end of text-container -->
                
                <div class="text-container mb-0">
                    <h4>Assets Used In The Live Preview Content</h4>
                    <p>Certick Landing Page uses tracking technology on the landing page, in the Applications, and in the Platforms, including mobile application identifiers and a unique Hootsuite user ID to help us recognize you across different Services, to monitor usage and web traffic routing for the Services, and to customize and improve the Services. By visiting Certick or using the Services you agree to the use of cookies in your browser and HTML-based emails. Cookies are small text files placed on your device when you visit a <a class="underline" href="#your-link">web site</a> in order to track use of the site and to improve your user experience.</p>
                    <a class="btn-solid-reg back" href="index.html">BACK</a>
                </div> <!-- end of text-container -->
            </div>
        </div> <!-- end of row -->
    </div> <!-- end of container -->
</div>