<div class="banner">
    <div class="container">
        <div class="banner-text">
            <div class="h1">
                Privacy Policy
            </div>
        </div>
    </div>
</div>
<div class="ex-basic-1">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <ul class="breadcrumbs list-unstyled list-inline">
                    <li class="list-inline-item"><a class="underline" href="index.html">Home</a></li>
                    <li class="list-inline-item"><i class="fa fa-angle-double-right"></i></li>
                    <li class="list-inline-item">Privacy Policy</li>
                </ul>
            </div> <!-- end of col -->
        </div> <!-- end of row -->
    </div> <!-- end of container -->
</div>
<div class="ex-basic-2">
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <div class="text-container">
                    <h4>Private Data We Receive And Collect</h4>
                    <p>Certick also automatically collects and receives certain information from your computer or mobile device, including the activities you perform on our Website, the Platforms, and the Applications, the type of hardware and software you are using (for example, your operating system or browser), and information obtained from cookies. For example, each time you visit the Website or otherwise use the Services, we automatically collect your IP address, browser and device type, access times, the web page from which you came, the regions from which you navigate the web page, and the web page(s) you access (as applicable).</p>
                    <p>When you first register for a Certick account, and when you use the Services, we collect some <a class="underline" href="#your-link">Personal Information</a> about you such as:</p>
                    <div class="row">
                        <div class="col-md-6">
                            <ul class="list-unstyled v-space-lg indent">
                                <li class="media">
                                    <i class="fas fa-chevron-right"></i>
                                    <div class="media-body">The geographic area where you use your computer and mobile devices</div>
                                </li>
                                <li class="media">
                                    <i class="fas fa-chevron-right"></i>
                                    <div class="media-body">Your full name, username, and email address and other contact details</div>
                                </li>
                                <li class="media">
                                    <i class="fas fa-chevron-right"></i>
                                    <div class="media-body">A unique Certick user ID (an alphanumeric string) which is assigned to you upon registration</div>
                                </li>
                                <li class="media">
                                    <i class="fas fa-chevron-right"></i>
                                    <div class="media-body">Other optional information as part of your account profile</div>
                                </li>
                                <li class="media">
                                    <i class="fas fa-chevron-right"></i>
                                    <div class="media-body">Your IP Address and, when applicable, timestamp related to your consent and confirmation of consent</div>
                                </li>
                                <li class="media">
                                    <i class="fas fa-chevron-right"></i>
                                    <div class="media-body">Other information submitted by you or your organizational representatives via various methods</div>
                                </li>
                            </ul>
                        </div> <!-- end of col -->

                        <div class="col-md-6">
                            <ul class="list-unstyled v-space-lg indent">
                                <li class="media">
                                    <i class="fas fa-chevron-right"></i>
                                    <div class="media-body">Your billing address and any necessary other information to complete any financial transaction, and when making purchases through the Services, we may also collect your credit card or PayPal information</div>
                                </li>
                                <li class="media">
                                    <i class="fas fa-chevron-right"></i>
                                    <div class="media-body">User generated content (such as messages, posts, comments, pages, profiles, images, feeds or communications exchanged on the Supported Platforms)</div>
                                </li>
                                <li class="media">
                                    <i class="fas fa-chevron-right"></i>
                                    <div class="media-body">Images or other files that you may publish via our Services</div>
                                </li>
                                <li class="media">
                                    <i class="fas fa-chevron-right"></i>
                                    <div class="media-body">Information (such as messages, posts, comments, pages, profiles, images) we may receive relating to communications you send us, such as queries or comments concerning our Services</div>
                                </li>
                            </ul>
                        </div> <!-- end of col -->
                    </div> <!-- end of row -->
                </div> <!-- end of text-container-->
                
                <div class="text-container">
                    <h4>How We Use Certick SaaS Landing Page Template Data</h4>
                    <p>Certick SaaS Landing Page Template uses visitors' data for the following general purposes:</p>
                    <ol class="v-space-lg">
                        <li>To identify you when you login to your account</li>
                        <li>To enable us to operate the Services and provide them to you</li>
                        <li>To verify your transactions and for purchase confirmation, billing, security, and authentication (including security tokens for communication with installed)</li>
                        <li>To analyze the Website or the other Services and information about our visitors and users, including research into our user demographics and user behaviour in order to improve our content and Services</li>
                        <li>To contact you about your account and provide customer service support, including responding to your comments and questions</li>
                        <li>To share aggregate (non-identifiable) statistics about users of the Services to prospective advertisers and partners</li>
                        <li>To keep you informed about the Services, features, surveys, newsletters, offers, surveys, newsletters, offers, contests and events we think you may find useful or which you have requested from us</li>
                        <li>To sell or market Certick Landing Page products and services to you</li>
                        <li>To better understand your needs and the needs of users in the aggregate, diagnose problems, analyze trends, improve the features and usability of the Services, and better understand and market to our customers and users</li>
                        <li>To keep the Services safe and secure</li>
                        <li>We also use non-identifiable information gathered for statistical purposes to keep track of the number of visits to the Services with a view to introducing improvements and improving usability of the Services. We may share this type of statistical data so that our partners also understand how often people use the Services, so that they, too, may provide you with an optimal experience.</li>
                    </ol>
                </div> <!-- end of text-container -->

                <div class="text-container">
                    <h4>Customer Content We Process For Our Customers</h4>
                    <p>Certick is a HTML landing page template tool. By its nature, Services enable our customers to promote their products and services integrate with hundreds of business applications that they already use, all in one place.</p>
                    <p>Services help our customers promote their products and services, marketing and advertising; engaging audiences; scheduling and publishing messages; and analyze the results.</p>
                </div> <!-- end of text container -->

                <div class="text-container">
                    <h4>Consent Of Using Certick Landing Page Template</h4>
                    <p class="mb-5">By using any of the Services, or submitting or collecting any Personal Information via the Services, you consent to the collection, transfer, storage disclosure, and use of your Personal Information in the manner set out in this Privacy Policy. If you do not consent to the use of your Personal Information in these ways, please stop using the Services.</p>
                </div> <!-- end of text-container -->
                                   
                <div class="row">
                    <div class="col-md-12">
                        <div class="text-container">
                            <h4>Inquire What Data We Have About You Using</h4>
                            <p>Certick Landing Page uses tracking technology on the landing page, in the Applications, and in the Platforms, including mobile application identifiers and a unique Certick user ID to help us recognize you across different Services, to monitor usage and web traffic routing for the Services, and to customize and improve the Services.</p>
                            <p> By visiting Certick or using the Services you agree to the use of cookies in your browser and HTML-based emails. Cookies are small text files placed on your device when you visit a <a class="underline" href="#your-link">web site</a> in order to track usage.</p>
                        </div> <!-- end of text container -->
                    </div> <!-- end of col-->
                   
                </div> <!-- end of row -->
                <a class="btn-solid-reg back" href="index.html">BACK</a>
            </div> <!-- end of col-->
        </div> <!-- end of row -->
    </div> <!-- end of container -->
</div>